h1 {
  text-align: center;
  color: #ffffff;
  display: none;
}
body {
  background-image: url("../img/stars_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}
#content {
  display: none;
  margin: 80px auto 100px auto;
  background-color: rgba(0, 0, 0, 0.38);
  width: 50%;
  color: white;
  padding: 20px;
  border-radius: 5px;
}
#content #lorem {
  text-align: center;
}
